<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para el Operador del Derecho!!</title>
</head>
<body>
    <form action="Formulario" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Profesión: <input type="text" name="profesion"></p>
        <p>País: <input type="text" name="pais"></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>